/* #personal-info-section {
  background-color: lightgreen;

}
#account-info-section {
  background-color: lightblue;
  
} */
#error-section-header {
  color: darkred;
  font-weight: bold;
  font-size: 20px;
  text-align: left;
  text-decoration: underline;
  
}

#error-section {
  text-align: left;
  color: red;
  margin-left: 19px;
}
#leap-year-label {
  margin-left: 40px;
  color: lightseagreen;
}

#create-section {
  text-align: center;
  /* background-color: rgb(218, 207, 247); */
}

.field-label {
  font-weight: bold;
  margin-top: 20px;
}

.error-sub-label{
  /* background: lightblue; */
  display: inline-block;
  width: 78px;
  font-weight: bold;
  margin-right: 50px;
  color: red;
  text-decoration: underline;
  text-align: left;
  
}

/* #body-section {
  background-color: lightsalmon;
} */

