.field-title {
    margin: 0% 0% 0% 25%;
    font-size: 20px;
    font-weight: bold;
}
.form-tbox {
    margin: 0% 0% 0% 25%;
    width: 50%;
    border-color: lightgray;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    font-size: 20px;
}
.submit {
    margin: 0% 0% 0% 33%;
    width: 30%;
    height: 50%;
    font-size: 15px;
}