/* #personal-info-section {
  background-color: lightgreen;

}
#account-info-section {
  background-color: lightblue;
  
} */

#create-section {
  text-align: center;
  /* background-color: rgb(218, 207, 247); */
}

.field-label {
  font-weight: bold;
  margin-top: 20px;
}



/* #body-section {
  background-color: lightsalmon;
} */

