body {
  background-color: #525252;
  color: white;
}

.welcomelable{
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

#home-page-header{
  color: white;
  font-size: 66px;
}

.cat-label{
  font-size: 40px;
  margin-bottom: -17px;
}

.scrollmenu {
    overflow: auto;
    white-space: nowrap;
    width: 90%;
}

/* div.scrollmenu a {
    display: inline-block;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    width: 86%;
} */

#game_detail {
  background-color: #525252;
  color: white;
  padding-top: 0px;
  /* padding-right: 10px; */
  padding-bottom: 0px;
  /* margin-right: 0px; */
  /* padding-left: 0px; */
}

.row{
  width: 100%;
}
.gInfo{
  font-size: 18px;
  margin-left: -60px;
}

.modal-footer{
  background-color: #525252;
}
#gImage{
  padding-top: 23px;
}
#home-header {
  font-weight: bold;
}
#home-add-to-cart {
  padding-bottom: 0px;
}
.game-info-label {
  font-size: 23px;
  margin-bottom: 20px;
}

#game-info{
  margin-top: 70px;
  font-size: 20px;
}
.modal-labels {
  margin-bottom: 20px;
  /* padding-bottom: 20px; */
}

#free-scroll-bar {
  margin-bottom: 170px;
}
