#filterTable{
  margin: auto;
  margin-top: 20px;
  background-color: black;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#searchBarCell{
  padding-left: 200px;
}

#gamesTable{
  margin: auto;
  margin-top: 25px;
}

#gamesTable td{
  height: 175px;
  width: 225px;
}

#gamesTable img{
  height: 175px;
  width: 225px;
}

/*<!-- need to create inline block css -->*/
