#filterTable{
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  /* add padding to make it look pretty*/
}

#searchBarCell{
  padding-left: 200px;
}

#gamesTable{
  margin: auto;
  margin-top: 25px;
}

#gamesTable td{
  height: 175px;
  width: 225px;
}

#gamesTable img{
  height: 175px;
  width: 225px;
}
